/* Footer.css */
.footer {
    background-color: #f2f2f2; /* Background color for the footer */
    padding: 20px 0; /* Adjust padding as needed */
    margin-top: 100px;
}
  
  .footer-content {
    display: flex;
    justify-content: center;
  }
  
  .gray-box {
    width: 200px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */

  }
  