.summary-table-container {
    margin-top: 200px;
    margin-left: 370px;
  }
  
  .summary-table {
    width: 65%;
    border-collapse: collapse;
    align-items: center;
    
  }
  
  .summary-table th,
  .summary-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  .summary-table th {
    background-color: #ffdfba; /* Grey background for header */
  }
  
  .summary-table tbody tr:hover {
    background-color: #74b3ff; /* Faint green background on hover */
  }
  
  .Summary{
    margin-left: 170px;
  }